.app-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
}

.messages-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.input-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding-top: 10px;
    border-top: 1px solid #dedede;
}

.input-container textarea {
    flex-grow: 1;
    resize: none;
    height: 100px;
}

.input-container button {
    width: 75px;
}

.message {
    display: inline;
    padding: 5px 14px;
    border-radius: 7px;
    font-family: sans-serif;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 12px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

.message.message-you {
    background: #d5ccff;
    align-self: flex-end;
    border-color: #a18dff;
}

.message.message-them {
    background: #faffcc;
    align-self: flex-start;
    border-color: #e8ff17;
}