.app-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
    max-height: -webkit-fill-available;
}

.app-container.menu-container-shown {
    pointer-events: none;
    filter: blur(2px);
    opacity: 0.6;
}

.menu-container {
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    justify-content: flex-end;

    border: 1px solid black;
    background: #efefef;
    font-family: sans-serif;

    position: absolute;
    width:calc(100vw - 17px);
    top: 45vh;
    transform: translate(0, -50%);
    padding: 25px;
    box-sizing: border-box;
}

.menu-container .menu-item {
    text-decoration: underline;
    text-decoration-color: #c6c6c6;
    cursor: pointer;
}

.menu-btn {
    width: 50px;
    margin-bottom: 15px;
    opacity: 0.5;
}

.menu-container.menu-container-shown {
    display: flex;
}

.header-container.header-container-focused {
    opacity: 1;
}

.header-container .header-link {
    pointer-events: none;
}

.header-container.header-container-focused .header-link {
    pointer-events: all;
    text-decoration: underline;
    color: blue;
}

.messages-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    row-gap: 12px;
}

.input-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding-top: 10px;
    border-top: 1px solid #dedede;
}

.input-container textarea {
    flex-grow: 1;
    resize: none;
    height: 100px;
}

.input-container button {
    width: 75px;
}

.message {
    display: inline;
    padding: 5px 14px;
    border-radius: 7px;
    font-family: sans-serif;
    border-width: 1px;
    border-style: solid;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    max-width: calc(100vw  - 180px);
}

.message.message-you {
    background: #d5ccff;
    align-self: flex-end;
    border-color: #a18dff;
}

.message.message-them {
    background: #faffcc;
    align-self: flex-start;
    border-color: #e8ff17;
}